[Unit]
Description=Lutz webcam stream service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=Lutz
ExecStart=python3 /home/Lutz/stream.py

[Install]
WantedBy=multi-user.target